# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build and deploy

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Build
      run: |
        mkdocs build

    - name: Checkout the Python client
      uses: actions/checkout@v2
      with:
        repository: templateflow/templateflow.github.io
        path: gh-pages
        ssh-key: "${{ secrets.NIPREPS_DEPLOY }}"
    - name: Generate new JSON tree
      run: |
        git config --global user.email "nipreps@gmail.com"
        git config --global user.name "templateflow-bot"
        cp -r site/* gh-pages/
        cd gh-pages
        echo -e "a\n*\nq\n"|git add -i
        git commit -am "auto: Update website"
        git push
